.blog {
  margin: auto;
  max-width: var(--section-max-width);
  padding: var(--section-padding);
}
.blog__title {
  text-align: center;
}
// .blog__ul {
// }
// .blog__li {
// }
.blog__date {
  font-family: 'PT Mono', monospace !important;
}
.blog__link {
  margin-top: 0;
}
.blog__postdescription {
  margin: 0 auto 2em 1em;
  color: var(--primary-color-accent);
}
