.bookmarks {
  margin: auto;
  max-width: var(--section-max-width);
  padding: var(--section-padding);
}
.bookmarks__title {
  text-align: center;
}
// .bookmarks__ul {
// }
// .bookmarks__li {
// }
// .bookmarks__date {
// }
// .bookmarks__link {
// }
