.bookmarks {
  margin: auto;
  max-width: var(--section-max-width);
  padding: var(--section-padding);
}
.bookmarks__title {
  text-align: center;
}
.bookmarks ul {
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 2em;
}
.bookmarks li {
  color: var(--primary-color-accent);
}

// .bookmarks__li {
// }
// .bookmarks__date {
// }
// .bookmarks__link {
// }
