code {
  font-family: 'PT Mono', monospace !important;
}

pre {
  padding: 1rem;
  border: 1px solid var(--tertiary-color);
  overflow: auto;
  line-height: 1.4;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1em;
  background-color: var(--code-background-color) !important;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: right;
  user-select: none;
  padding-right: 0.5em;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}
