.footer {
  color: var(--seconday-color);
  padding: var(--footer-padding);
  border-bottom: 1px solid var(--tertiary-color);
  margin-bottom: 2em;
}
.footer__ul {
  display: flex;
  justify-content: center;
}
.footer__li {
  margin: 0 1em;
}
.footer__link {
  color: var(--primary-color);
}
