.header {
  padding: var(--header-padding);
  border-bottom: 1px solid var(--tertiary-color);
  justify-content: center;
}
.header__ul {
  display: flex;
  justify-content: center;
}
.header__li {
  margin: 0 1em;
}
.header__link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
}
