.index {
  margin: auto;
  max-width: var(--section-max-width);
  padding: var(--section-padding);
}
.index__title {
  text-align: center;
}
// .index__ul {
// }
// .index__li {
// }
// .index__date {
// }
// .index__link {
// }
