.nav {
  color: var(--seconday-color);
  background-color: var(--primary-color);
  padding: var(--nav-padding);
}
.nav__ul {
  display: flex;
  justify-content: center;
}
.nav__li {
  margin: 0 1em;
}
.nav__link {
  color: var(--secondary-color);
}
