.posts {
  margin: auto;
  max-width: var(--section-max-width);
  padding: var(--section-padding);
}
.posts__title {
  text-align: center;
}
// .posts__ul {
// }
// .posts__li {
// }
// .posts__date {
// }
// .posts__link {
// }
