.post {
  margin: auto;
  max-width: var(--article-max-width);
  padding: var(--article-padding);
}
.post__title {
  text-align: center;
}
// .post__li {
// }
.post__date {
  text-align: center;
}
// .post__link {
// }

.post > table {
  border-collapse: collapse;
  margin: 2em auto;
}

.post > table th,
.post > table td {
  border: 1px solid var(--primary-color);
  padding: 0.2em 0.3em;
  text-align: center;
}
