.post {
  margin: auto;
  max-width: var(--article-max-width);
  padding: var(--article-padding);
}
.post__title {
  text-align: center;
}
// .post__ul {
// }
// .post__li {
// }
.post__date {
  text-align: center;
}
// .post__link {
// }
