.post {
  margin: auto;
  max-width: var(--article-max-width);
  padding: var(--article-padding);
}
.post__title {
  text-align: center;
}
.post__ul {
  list-style: initial;
  margin: 0 1em;
  padding-left: 1em;
}
.post__content-table {
  margin: 0 auto;
}
// .post__li {
// }
.post__date {
  text-align: center;
}
// .post__link {
// }
.post__anchor {
  font-weight: 900;
  text-decoration: none;
}
