h1 {
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

a {
  font-size: 1em;
  margin: 0.5em 0;
}

li {
  font-size: 1em;
}

small {
  font-size: 0.833em;
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin: 1.2em 0;
}

p,
a,
li,
small {
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.3em 0;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
li,
small,
p,
a {
  color: var(--primary-color);
}
