.work {
  margin: auto;
  max-width: var(--section-max-width);
  padding: var(--section-padding);
}
.work__title {
  text-align: center;
}
.work ul {
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 2em;
}
.work li {
  color: var(--primary-color-accent);
}
// .work__date {
// }
// .work__link {
// }
