@import 'scales_minor_third';
@import 'constants';
@import 'index', 'bookmarks', 'post', 'blog', 'footer', 'nav',
  'header', 'codeblock', 'work', 'marks', '404', 'subtitle';

// * {
//   outline: 1px dashed red;
// }

body {
  background-color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

button {
  font-family: var(--primary-font);
}

html {
  @media (max-width: 1200px) {
    font-size: calc(
      12px + (18 - 12) * ((100vw - 320px) / (1200 - 320))
    );
  }
}

ul,
nav {
  list-style: none;
  padding: 0;
}
