{% if config.extra.self_host_fonts %}
<link href="/fonts.css" rel="stylesheet" media="all" />
{% else %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap"
  rel="stylesheet"
/>
{% endif %}
<link rel="stylesheet" href="/style.css" media="all" />
