<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META TAGS -->
        <meta charset="utf-8" />
        <meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="blog, programming" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="language" content="en-US" />
        <meta name="author" content="Rodolfo Mói, rodmoi.oliveira@gmail.com" />
        <meta name="designer" content="Rodolfo Mói" />
        <meta name="copyright" content="Rodolfo Mói" />
        <meta name="reply-to" content="rodmoi.oliveira@gmail.com" />
        <meta name="owner" content="Rodolfo Mói" />
        <meta name="url" content="{% block url %}{% endblock %}" />
        <meta name="date" content="{% block date %}{% endblock %}" />
        <meta name="coverage" content="Worldwide" />
        <meta name="distribution" content="Global" />
        <meta name="rating" content="General" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- OG AND TWITTER META TAGS -->
        <meta property="og:type" content="page" />
        <meta property="og:url" content="{% block og_url %}{% endblock %}" />
        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:image" content="{{ config.base_url | safe }}images/ryoji-iwata-DZ5qYLvWsHw-unsplash.jpg" />
        <meta property="og:description" content="{% block og_description %}{% endblock %}" />
        <meta property="article:author" content="Rodolfo Mói" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@rodmoi" />
        <meta name="twitter:title" content="{% block tw_title %}{% endblock %}" />
        <meta name="twitter:creator" content="@rodmoi" />
        <meta name="twitter:description" content="{% block tw_description %}{% endblock %}" />
        <title>{% block title %}{% endblock title %}</title>

        <!-- STYLES -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/style.css" media="all" />
    </head>
    <body id="body" data-theme="light">
        {% include "header.html" ignore missing %}
        {% include "theme_script.html" %}
        {% block content %} {% endblock content %}
        {% include "nav.html" ignore missing %}
        {% include "footer.html" ignore missing %}
        <script type="text/javascript" src="/scripts/script.js"></script>
    </body>
</html>
