{% extends "base.html" %}

{% block title %}{{ section.title | capitalize }}{% endblock %}
{% block description %}{{ section.description }}{% endblock %}

{% block og_title %}{{ section.title | capitalize }}{% endblock %}
{% block tw_title %}{{ section.title | capitalize }}{% endblock %}
{% block url %}https://rm-o.netlify.app/{{ section.extra.slug }}{% endblock %}
{% block og_url %}https://rm-o.netlify.app/{{ section.extra.slug }}{% endblock %}
{% block og_description %}{{ section.description }}{% endblock %}
{% block tw_description %}{{ section.description }}{% endblock %}

{% block content %}
    <section class="posts">
        <h2 class="posts__title">{{ section.title }}</h2>
        <ul class="posts__ul">
            {% for page in section.pages %}
                <li class="posts__li">
                    <span class="posts__date">{{ page.date | replace(from="-",
                        to="/") }}</span> -
                    <a class="link posts__link" href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}
