{% extends "base.html" %}

{% block title %}{{ section.title | capitalize }}{% endblock %}
{% block description %}{{ section.description }}{% endblock %}

{% block og_title %}{{ section.title | capitalize }}{% endblock %}
{% block tw_title %}{{ section.title | capitalize }}{% endblock %}
{% block url %}https://rm-o.netlify.app/{{ section.extra.slug }}{% endblock %}
{% block og_url %}https://rm-o.netlify.app/{{ section.extra.slug }}{% endblock %}
{% block og_description %}{{ section.description }}{% endblock %}
{% block tw_description %}{{ section.description }}{% endblock %}

{% block content %}
    <section class="blog">
        <h2 class="blog__title">{{ section.title | capitalize }}</h2>
        <p class="mark__start">&ctdot;</p>
        <ul class="blog__ul">
            {% for page in section.pages %}
                <li class="blog__li">
                    <span class="blog__date">{{ page.date | replace(from="-",
                        to="/") | safe }}</span>&nbsp;&#8226;
                    <a class="link blog__link" href="{{ page.permalink | safe }}">{{ page.title }}</a>
                    <p class="blog__postdescription">{{ page.description }}</p>
                </li>
            {% endfor %}
        </ul>
        <p class="mark__end">&smashp;</p>
    </section>
{% endblock content %}
