{% extends "base.html" %}

{% block title %}{{ page.title | capitalize }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block og_title %}{{ page.title | capitalize }}{% endblock %}
{% block tw_title %}{{ page.title | capitalize }}{% endblock %}
{% block url %}https://rm-o.netlify.app/{{ page.slug }}{% endblock %}
{% block og_url %}https://rm-o.netlify.app/{{ page.slug }}{% endblock %}
{% block og_description %}{{ page.description }}{% endblock %}
{% block tw_description %}{{ page.description }}{% endblock %}

{% block content %}
    <section class="bookmarks">
        <h2 class="bookmarks__title">{{ page.title | capitalize }}</h2>
        <p class="mark__start">&ctdot;</p>
        {% if page.extra.intro %}
            <p>{{page.extra.intro}}</p>
        {% endif %}
        {% if page.toc %}
            <section class="toc">
                <p class="mark__toc">&Colone;</p>
                <ul class="toc__ul">
                    {% for h3 in page.toc %}
                        <li class="toc__li">
                            <a class="toc__anchor" href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="mark__toc">&Colone;</p>
            </section>
        {% endif %}
        {{ page.content | safe }}
        <p class="mark__end">&smashp;</p>
    </section>
{% endblock content %}
