{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}
{% block description %}{{ section.description }}{% endblock %}

{% block og_title %}{{ section.title }}{% endblock %}
{% block tw_title %}{{ section.title }}{% endblock %}
{% block url %}https://rm-o.netlify.app/{% endblock %}
{% block og_url %}https://rm-o.netlify.app/{% endblock %}
{% block og_description %}{{ section.description }}{% endblock %}
{% block tw_description %}{{ section.description }}{% endblock %}

{% block content %}
    <section class="index">
        <p class="mark__start">&ctdot;</p>
        <p>
            My name is Rodolfo Mói de Oliveira. I'm currently working as a data
            analyst at
            <a
                rel="noopener nofollow noreferrer"
                target="_blank"
                href="https://www.neoway.com.br/">
                Neoway.
            </a>
        </p>
        <p class="mark__end">&smashp;</p>
    </section>
{% endblock content %}
