{% extends "base.html" %}

{% block title %}{{ page.title | capitalize }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block date %}{{ page.date }}{% endblock %}
{% block og_title %}{{ page.title | capitalize }}{% endblock %}
{% block tw_title %}{{ page.title | capitalize }}{% endblock %}
{% block url %}https://rm-o.netlify.app/{{ page.slug }}{% endblock %}
{% block og_url %}https://rm-o.netlify.app/{{ page.slug }}{% endblock %}
{% block og_description %}{{ page.description }}{% endblock %}
{% block tw_description %}{{ page.description }}{% endblock %}

{% block content %}
    {% include "katex_styles.html" %}
    <article class="post">
        <h2 class="post__title">{{ page.title }}</h2>
        <p class="post__date">&#8226;&nbsp;{{ page.date }}&nbsp;&#8226;</p>
        <p class="mark__start">&ctdot;</p>
        {% include "toc.html" ignore missing %}
        {{ page.content | safe }}
        {% include "reference.html" %}
        <p class="mark__end">&smashp;</p>
    </article>
    {% include "katex_scripts.html" %}
{% endblock content %}
