{% extends "base.html" %}

{% block title %}{{ page.title | capitalize }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block date %}{{ page.date }}{% endblock %}
{% block og_title %}{{ page.title | capitalize }}{% endblock %}
{% block tw_title %}{{ page.title | capitalize }}{% endblock %}
{% block url %}https://rm-o.netlify.app/{{ page.slug }}{% endblock %}
{% block og_url %}https://rm-o.netlify.app/{{ page.slug }}{% endblock %}
{% block og_description %}{{ page.description }}{% endblock %}
{% block tw_description %}{{ page.description }}{% endblock %}

{% block content %}
    <article class="post">
        <h2 class="post__title">{{ page.title }}</h2>
        <p class="post__date">&#8226;&nbsp;{{ page.date }}&nbsp;&#8226;</p>
        <p class="mark__start">&ctdot;</p>
        {% if page.toc %}
            <section class="post__content-table">
                <p class="mark__content-table">&Colone;</p>
                <ul class="post__ul">
                    {% for h3 in page.toc %}
                        <li class="post__li">
                            <a class="post__anchor" href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="mark__content-table">&Colone;</p>
            </section>
        {% endif %}
        {{ page.content | safe }}
        <p class="mark__end">&smashp;</p>
    </article>
{% endblock content %}
