{% if page.extra.references %}
{% set data = load_data(path=page.extra.references, required=false) %}
{% if data %}
<ul class="reference__ul">
    {% for b in data.bibliographies %}
    <li class="reference__li" id={{b.citation_key}}>
        {% if b.tags.author %}
        <span class="reference__author">{{ b.tags.author }}</span>
        {% endif %}
        {% if b.tags.year %}
        <span class="reference__year">({{ b.tags.year }}).</span>
        {% endif %}
        {% if b.tags.url %}
        <a
            class="reference__url"
            href="{{ b.tags.url }}"
            rel="noopener nofollow noreferrer"
            target="_blank"
            >{{ b.tags.title }}</a>.
        {% else %}
        <span>{{ b.tags.title }}</span>.
        {% endif %}
        {% if b.tags.organization %}
        <span class="reference__organization">{{ b.tags.organization }}.</span>
        {% endif %}
        {% if b.tags.journal %}
        <span class="reference__jornal">{{ b.tags.journal }}.</span>
        {% endif %}
        {% if b.tags.volume %}
        <span class="reference__volume">{{ b.tags.volume }}:</span>
        {% endif %}
        {% if b.tags.pages %}
        <span class="reference__pages">{{ b.tags.pages }}.</span>
        {% endif %}
        {% if b.tags.publisher %}
        <span class="reference__publisher">{{ b.tags.publisher }}.</span>
        {% endif %}
        {% if b.tags.urldate %}
        <span class="reference__urldate">Accessed: {{ b.tags.urldate }}.</span>
        {% endif %}
        {% if b.tags.note %}
        <span class="reference__note">{{ b.tags.note }}.</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
